mixin detail
  dl.redinfo(v-if="redBag")
    dt 红包使用规则
    dd
    h2 红包
    ul(style="border-bottom:0")
      li 红包金额：￥{{ redBag.price/100 }}
    h2 使用范围
    ul
      li 影片：{{ redBag.movieName }}
      li 有效期：{{ redBag.endTime }}
      li 版本：{{ redBag.type }}
      li 影院：{{ redBag.cinema }}
      li 使用城市：全国
    h2 使用规则
    ol
      li 红包仅限在电影票友 购票平台使用，每个订单限用1张
      li *使用流程
      li 1，进入电影票友购票页
      li 2，选择城市
      li 3，选择影片->选择影院->选择场次->选择座位
      li 4，输入手机号->确认
      li 5，进入支付页->选择可用的红包->确认支付
      li 6，订票成功后将收到短信，凭短信到影院换取电影票观影
    a.btn_back(v-on:click="showList()") 返回

div#redBag
  +detail
  div.orderbox(v-else)
    dt
      a
        | 红包
    dd
      div.cardpop
        nav
          ul.flexbox
            li.flex(
              v-bind:class="{curr: currentTab === 1}"
              v-on:click="changeTab(1)"
            )
              未使用({{ unusedCount }})
            li.flex(
              v-bind:class="{curr: currentTab === 3}"
              v-on:click="changeTab(3)"
            )
              已过期({{ expiredCount }})
            li.flex(
              v-bind:class="{curr: currentTab === 2}"
              v-on:click="changeTab(2)"
            )
              已使用({{ usedCount }})
        ul.cardmid(v-show="!hasNoRedBag")
          li(
            v-for="redBag in redBagList"
            v-bind:class="{new: redBag.state == 1}"
            v-show="redBag.state == currentTab"
            v-on:click="showDetail(redBag.Id)"
          )
            div.cardlay
              div.cardinfo.flexbox_v_c
                div.flex.main
                  p 红包
                  p.redBagPrice ￥{{ redBag.price/100 }}
                div.aside
                  p 仅可购买电影票
                  p 满20元可用
            div.cardend.flexbox
              div.flex.main 只能在本平台使用
              div.aside {{ redBag.expiredTime }}到期
                span(v-if="redBag.remainTime") （仅剩 {{ redBag.remainTime }}）
        div.redempty(v-show="hasNoRedBag")
          p
            i
            | 还没有红包哦
