.container {
  display: flex;
  justify-content: left;
  font-size: 1rem;
  color: rgb(70, 70, 70);
  background: #eaeaea;
  flex-wrap: nowrap;
}

.item {
  padding: 0.83rem;
  text-align: center;
  white-space: nowrap;
}

.item.current {
  color: #25908b;
  font-weight: bolder;
}
