.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.covers {
  flex: 1 100%;
  display: flex;
}

.cover {
  position: relative;
  width: 33%;
  flex: 1 auto;
}

.cover:nth-child(2) {
  margin: 0 .2rem;
}

.cover img {
  width: 100%;
}

.desc {
  flex: 1 auto;
  text-align: center;
  width: 100%;
}

.desc h2 {
  font-size: 1.33rem;
  color: #231815;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1rem;
}

.desc p {
  font-size: 1rem;
  line-height: 1.5;
  color: #505050;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2.5rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: .3rem;
}

.infoContainer {
  color: #9e9e9f;
  font-size: .83rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.infoContainer .line {
  height: 1px;
  background: rgba(238, 238, 238, .8);
  flex: 1 auto;
  position: relative;
}

.infoContainer .line::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.5px;
  background: #ccc;
}

.infoContainer .line:last-child::before {
  right: auto;
  left: 0;
}

.infoContainer::after {
  border-right: none;
  border-left: 1px solid #ccc;
}

.info {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.info img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.info span {
  margin-left: 5px;
}

.info .tag {
  font-size: .67rem;
  color: #fff;
  background: #00948D;
  padding: 0 .5rem;
  margin-left: 10px;
}

.smallContent {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.smallContent .covers {
  flex: 1 0;
  order: 2;
}

.smallContent .cover {
  width: 100%;
}

.smallContent .desc {
  flex: 2 0;
  text-align: left;
}

.smallContent .desc h2 {
  margin-top: 0;
  white-space: initial;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.smallContent .desc h2,
.smallContent .desc p {
  padding: 0 .5rem 0 0;
}

.publishName {
  color: #00948D;
}
