.list {}

.item {
  margin-top: .83rem;
  padding: .83rem 0 .42rem 1rem;
  background: url(./item.png) center top no-repeat #fff;
  background-size: auto 1.25rem;
  position: relative;
}

.item::after {
  content: '';
  position: absolute;
  width: 6.67rem;
  height: 6.67rem;
  right: .83rem;
  top: .83rem;
  background: url(./quan.png) center center no-repeat;
  background-size: cover;
}

.available {
  background-image: url(./available-item.png);
}

.info {
  margin-right: .42rem;
  padding: 0 .42rem;
  background: url(./arrow.png) right center no-repeat;
  background-size: auto 1.9rem;
  display: flex;
  font-size: .75rem;
  line-height: 2;
  position: relative;
  z-index: 1;
}

.available .info {
  background-image: url(./available-arrow.png);
}

.amount {
  flex: 1 0;
  padding-top: 1.2rem;
  color: #00968d;
}

.condition {
  padding: 1.67rem .83rem .42rem;
  color: #717171;
}

.limit {
  position: relative;
  z-index: 1;
  border-top: 1px dotted #707070;
  margin: .42rem 0 0;
  padding: .42rem .42rem 0;
  display: flex;
}

.limit p {
  font-size: .83rem;
  color: #707070;
  flex: 1 0;
}

.limit span {
  font-size: .67rem;
  color: #78797b;

}
