.container {
  position: relative;
}

.ads {
  position: relative;
}

.image {
  width: 100%;
}

.onlyTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px 2rem;
  font-size: 1.33rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.33rem;
  font-weight: normal;
  text-align: center;
  padding: .5rem 0 .2rem;
  color: #231815;
  border-bottom: 1px solid rgba(182, 181, 182, .2);
}

.contentContainer {
  background: #f7f7f7;
  padding: 1rem .83rem 1.5rem;
}

.content {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
