.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
}

.close {
  border-bottom: .4rem solid #00968d;
  height: 6.67rem;
  background: url(./icon_close.png) no-repeat center 80%;
  background-size: 1.25rem;
}

.container {
  flex: 1 0;
  overflow-y: auto;
  padding: 1.5rem 1.25rem;
  background: #fff;
}

.title {
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.17rem;
  line-height: 1.67rem;
  height: 1.67rem;
  color: #00978a;
  border-radius: 3.33rem;
}

.content {}
