.container {
  background: #F6F6F6;
}

.image {
  position: relative;
  float: left;
}

.image img {
  width: 100%;
}

.title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.33rem;
  color: #fff;
  padding: 2px 2rem;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie {
  position: relative;
  float: left;
  display: flex;
  padding: 1.25rem 1.8rem;
}

.cover {
  width: 6rem;
}

.cover img {
  width: 100%;
  margin-top: .4rem;
}

.movie ul {
  flex: 1 0;
  padding: 0 .83rem;
  color: #888;
  font-size: 1rem;
}

.movie li:first-child{
  font-size:1.33rem;
  height:1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.4rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom:0.5rem;
}

.movie li:nth-child(3){
  height:1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom:0.2rem;
}

.buy {
  width: 3.6rem;
  height: 5.1rem;
  position: relative;
  background: url(./buy_icon.png);
  background-size: 100%;
  color: #fff;
  text-align: center;
  padding-top: 3.3rem;
  align-self: flex-end;
  margin-bottom: -1.4rem;
  margin-right:-8px;
}

.minPrice {
  position: absolute;
  right: 0;
  bottom: 110%;
  color: #F29600;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  min-width: 100%;
}

.minPrice::after {
  content: '起';
  position: absolute;
  left: 100%;
  bottom: 0;
  color: #666;
  font-size: .42rem;
}
